@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}


.main_section{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.card_items{
margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}



.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav .nav_bar {
    display: flex;
    align-items: start;
    justify-content: space-around;

}

.hero{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .nav_bar a {
    margin-right: 14px;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.Sub_Nav{
    list-style-type: none;
}

.card{
    border: 3px solid #104662;
    height: 500px;
    width: 450px;
    padding-bottom: 10px;
    margin-bottom: 16px;
    background-color:#092635;
    border-top-left-radius: 50px;
}
.imge{
    border-top-left-radius: 50px;
    height: 400px;
    width: 444px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contant{
   padding-left: 10px;
}

.contant h2{
    color: aliceblue;
}

.contant p{
    color:rgb(131, 131, 131) ;
}


a :hover{
    color: #ff0808;
}

